@import "variables";


h1{
    color: $primary;
    margin-top: $base-padding;
}
a{
    color: $secondary; 
}
button{
    color: white;
    border: 0;
    border-radius: $base-border-radius; 
    padding: $base-padding;
    background-color: $primary;
}
.error{
    color: $error;
    border-color: $error;
    border-style: solid;
    margin: $base-margin;
    padding: $base-padding;
    border-radius: $base-border-radius;
    border-width: $base-border-thickness;
}
.notification{
    color: $secondary;
    border-color: $secondary;
    border-style: solid;
    margin: $base-margin;
    padding: $base-padding;
    border-radius: $base-border-radius;
    border-width: $base-border-thickness;
}